{% if item.physdev is string %}
{{ 'BindsToInterfaces' ~ '=\"' ~ item.physdev ~ '\"' }}
{% elif item.physdev is sequence %}
{% for pd in item.physdev %}
{% if loop.first %}
{{ 'BindsToInterfaces' + '=(' -}}
{% endif %}
{{ '\"' ~ pd ~ '\"' -}}
{% if loop.last %}
{{ ')' }}
{% else %}
{{ ' ' -}}
{% endif %}
{% endfor %}
{% endif %}
