{% if item.physdev is defined and item.physdev != '' %}
{{ 'BindsToInterfaces' ~ '=(' }}
{%- for physdev in item.physdev -%}
{{- physdev -}}
{{- " " if not loop.last -}}
{%- endfor -%}
{{ ")" }}
{% endif %}
{% if item.skip_forward is defined and item.skip_forward in ['yes', 'no'] %}
{{ 'SkipForwardingDelay' ~ '=\"' ~ item.skip_forward ~ '\"' }}
{% endif %}
