{% if item.description is defined and item.description != '' %}
Description='{{ item.description }}'
{% endif %}
Connection='{{ item.connection }}'
{% if item.connection in ['pppoe', 'mobile_ppp'] %}
interface='{{ item.physdev }}'
{% else %}
Interface='{{ item.interface }}'
{% endif %}
