{% if item.ppp_user is defined %}
User='{{ item.ppp_user }}'
{% endif %}
{% if item.ppp_password is defined %}
Password='{{ item.ppp_password }}'
{% endif %}
{% if item.ppp_apn is defined and item.ppp_apn != '' %}
AccessPointName='{{ item.ppp_apn }}'
{% endif %}
{% if item.ppp_number is defined and item.ppp_number != '' %}
PhoneNumber='{{ item.ppp_number }}'
{% endif %}
{% if item.ppp_max_fail is defined %}
MaxFail='{{ item.ppp_max_fail }}'
{% endif %}
{% if item.ppp_default_route is defined and item.ppp_default_route == 'false' %}
DefaultRoute='{{ item.ppp_default_route }}'
{% endif %}
{% if item.ppp_peer_dns is defined and item.ppp_peer_dns == 'false' %}
UsePeerDNS='{{ item.ppp_peer_dns }}'
{% endif %}
{% if item.ppp_unit is defined and item.ppp_unit != '' %}
PPPUnit='{{ item.ppp_unit }}'
{% endif %}
