{% if item.ppp_apn is defined and item.ppp_apn != '' %}
{{ 'AccessPointName' + '=\"' + item.ppp_apn + '\"' }}
{% endif %}
{% if item.ppp_number is defined and item.ppp_number != '' %}
{{ 'PhoneNumber' ~ '=\"' ~ item.ppp_number ~ '\"' }}
{% endif %}
